<%- include('./includes/head') %> 
<%- include('./includes/nav') %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contact</h1>

      <p class="text-center lead">Create or Edit your contacts below.</p>
      <%- include('includes/messages')  %> 
      <% if (contact._id) { %>
        <form action="/contact/edit/<%= contact._id %>" method="POST">
      <% } else { %>
        <form action="/contact/register" method="POST">
      <% } %> 
        <input type="hidden" name="_csrf" value=<%= csrfToken %> >
        <div class="form-group">
          <label>First Name</label>
          <input value="<%= contact.firstName %>" type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input value="<%= contact.lastName %>" type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input value="<%= contact.email %>" type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Phone number</label>
          <input value="<%= contact.phoneNumber %>" type="tel" class="form-control" name="phoneNumber">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer')  %> 

